# PROD Environment Terraform Variables
# Copy this file to terraform.tfvars and fill in your actual values.
# CI or your shell should also set:
# export TF_CLOUD_ORGANIZATION="lyonga-org"
# export TF_WORKSPACE="demo-infra-prod"

resource_group_name      = "rg-demo-prod"
function_app_name        = "func-demo-prod-001"
app_service_plan_name    = "asp-demo-prod-001"
storage_account_name     = "stdemoprod001"
azure_tenant_id          = "79dd759b-3fbe-4ab1-9439-ff87b14ba8f2"
location                 = "eastus"
storage_account_tier     = "Standard"
sku_name                 = "P1V2"
storage_replication_type = "GRS"
os_type                  = "Linux"
runtime_stack            = "python"
runtime_version          = "3.11"
functions_worker_runtime = "python"
python_version           = "3.11"

app_settings = {
}

common_tags = {
  CostCenter = "engineering"
}
